@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar across all browsers */
/* src/index.css or tailwind.css */
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* index.css */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 8px;
}
